:root {
  --dark: #4d5057;
  --clear: #cfcfcf;
  --primary: #3bc14a;
  --secondary: #4da167;
  --tertiary: #4e6e5d;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--dark);
  color: var(--clear);
  font-size: 3rem;
  text-align: center;
}

.clearFix::before,
.clearFix::after {
  content: "";
  float: none;
  clear: both;
  display: table;
}

.invisible {
  opacity: 0;
}

.btn {
  -moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, var(--tertiary)),
    color-stop(1, var(--primary))
  );
  background: -moz-linear-gradient(
    top,
    var(--tertiary) 5%,
    var(--primary) 100%
  );
  background: -webkit-linear-gradient(
    top,
    var(--tertiary) 5%,
    var(--primary) 100%
  );
  background: -o-linear-gradient(top, var(--tertiary) 5%, var(--primary) 100%);
  background: -ms-linear-gradient(top, var(--tertiary) 5%, var(--primary) 100%);
  background: linear-gradient(
    to bottom,
    var(--tertiary) 5%,
    var(--primary) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
  background-color: var(--primary);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid var(--clear);
  display: inline-block;
  cursor: pointer;
  color: var(--clear);
  font-family: Arial;
  font-size: 2rem;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px var(--dark);
  display: block;

  text-align: center;
}
.btn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, var(--primary)),
    color-stop(1, var(--secondary))
  );
  background: -moz-linear-gradient(
    top,
    var(--primary) 5%,
    var(--secondary) 100%
  );
  background: -webkit-linear-gradient(
    top,
    var(--primary) 5%,
    var(--secondary) 100%
  );
  background: -o-linear-gradient(top, var(--primary) 5%, var(--secondary) 100%);
  background: -ms-linear-gradient(
    top,
    var(--primary) 5%,
    var(--secondary) 100%
  );
  background: linear-gradient(
    to bottom,
    var(--primary) 5%,
    var(--secondary) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
  background-color: #c62d1f;
}
.btn:active {
  position: relative;
  top: 1px;
}

img {
  margin: 1rem;
}
